<div class="container" *ngIf="!isLoading && !hasError">
  <table  class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Published On</th>
        <th scope="col">Author First Name</th>
        <th scope="col">Author Last Name</th>
      </tr>
    </thead>
    <tbody #table>
      <tr *ngFor="let book of books; let i = index" th scope="row">
        <th>{{book.id}}</th>
        <td>{{book.title}}</td>
        <td>{{book.publishedOn | date}}</td>
        <td>{{book.author?.firstName}}</td>
        <td>{{book.author?.lastName}}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <button class="btn btn-lg btn-primary" (click)="changeSecondRow()">Change Second Row </button>
  </div>
</div>
<div *ngIf="isLoading && !hasError" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="hasError">
  ERROR
</div>