<div class="container d-flex flex-column align-items-center">
  <div class="row">
  <h1>Welcome To Books Listing Directory</h1>
</div>
<div class="row">
  <button class="btn btn-primary" (click)="goToBooks()">Go To Books</button>
</div>
</div>